<!-- Collect tags from all posts -->
{%- assign tags = blank -%}
{%- for icon in site.icons -%}
  {%- assign icon_tags = icon.tags | join:'|' | append:'|' -%}
  {%- if icon_tags != '|' -%}
    {%- assign tags = tags | append:icon_tags -%}
  {%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%}

<!-- List tags & related posts -->
<div class="p-3" style="display: flex; flex-wrap: wrap;">
  <a class="text-decoration-none no-underline tag-item" href="/">
    <span class="tag badge badge-pill">All</span>
  </a>
  {% for tag in tags %}
  <a class="text-decoration-none no-underline tag-item" href="{{ tag | slugify | prepend:'/tags#' | relative_url }}">
    <span class="tag badge badge-pill">{{ tag }}</span>
  </a>
  {% endfor %}
</div>