.article {


    a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline):not(.account):not(.tweet-icon):not(.tweet-foot):not(.video-img):not(.p-hunt)  {
        display: inline-block;
        text-decoration: none;
        color: #003933;
        background-color: #89ffdd9c;
        border-radius: .125rem;
        padding-left: .125rem;
        padding-right: .125rem;
        margin-bottom: .125rem;
        margin-top: .125rem;

        &:hover { 
            background: #43d6b5;
        }
    }

}